<div class="jumbotron">
    <h1>Jahangirnagar University</h1>
    <p class="lead"> Savar, Dhaka-1342, Bangladesh.<br /> Telephone: PABX: 880-2-7791045-51, Fax: 880-2-7791052</p>
    <p><a href="http://www.juniv.edu/" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-home"></i> Discover more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Department of Computer Science and Engineering</h2>
        <p>The study of computer programming itself investigates various aspects of the use of programming languages and complex systems, and human-computer interaction focuses on the challenges in making computers and computations useful, usable, and universally accessible to humans.</p>
        <p><a class="btn btn-default" href="http://www.juniv.edu/cse/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Centralized API</h2>
        <p>The centralized web api implemented by Md. Aminul Karim,<br/> M.S. final semester Exam Roll: 090517 <br />Class Roll: 1167<br />Session: 2011-2012 </p>
    </div>
    <div class="col-md-4">
        <p><a href="https://github.com/shoikot/University.Service" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-compressed"></i> Github Repository &raquo;</a></p>
    </div>
</div>
